@use "/src/scss/variables" as *;

.page-listing {
  .media-listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: $spacingQuarter;
  }

  .lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    align-items: center;
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      width: 100%;
      height: 100%;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__prev,
    &__next,
    &__close {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #eee;
      opacity: 0;
      transition: 0.2s;

      @at-root body:hover & {
        opacity: 1;
      }
    }

    &__prev {
      top: 50%;
      left: $spacingHalf;
    }

    &__next {
      top: 50%;
      right: $spacingHalf;
    }

    &__close {
      top: $spacingHalf;
      right: $spacingHalf;
    }
  }
}
