@use "/src/scss/variables" as *;

.MediaListing {
  display: flex;

  .content {
    width: 100%;
    height: 100vh;
    overflow: scroll;

    .list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      gap: 1rem;
      margin-top: $spacingQuarter;
    }
  }

  .sidebar {
    flex: 1 0 auto;
    width: 0;
    max-width: 70%;
    height: 100vh;
    overflow: scroll;

    &.sidebarActive {
      width: 40rem;
    }
  }
}
