@use "/src/scss/variables" as *;

.MediaPanelMeta {
  display: flex;
  flex-direction: column;
  gap: $spacingQuarter;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .MediaPanel__prev,
  .MediaPanel__next {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $colorBg;
    border: 1px solid $colorBorder;
    transition: 0.2s;

    &:hover {
      background-color: $colorBg2;
    }
  }
}

.edit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tagList {
    display: block;
    width: 100%;
    resize: vertical;
    min-height: 10rem;
    height: 10rem;
    padding: 0.2rem 0.5rem;
    font-family: monospace;
    border: 1px solid $colorBorder;

    &.tagListDirty {
      border-color: $colorBorder2;
    }

    &:focus {
      outline: none;
    }
  }

  .buttonList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.button {
  padding: 0.2rem $spacingQuarter;
  border: 1px solid $colorBorder;

  &:hover {
    background-color: $colorBg2;
  }

  &[disabled] {
    opacity: 0.5;
    background-color: $colorBg2;
    cursor: not-allowed;
  }
}

.actions {
  display: flex;
  gap: $spacingQuarter;

  .button {
    width: 100%;
  }

  .deleteButton {
    padding: 0.2rem $spacingQuarter;
    color: $colorWarning;
    border: 1px solid $colorWarning;
    width: 100%;

    &:hover {
      background-color: $colorWarningBg;
    }
  }
}
