@use "/src/scss/variables" as *;

.MediaPanel {
  position: relative;
  height: 100%;
  background-color: $colorBg;
  display: flex;
  flex-direction: column;
  gap: $spacingQuarter;
  z-index: 22;
  padding: $spacingQuarter;

  &__media {
    border: 1px solid $colorBorder;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  img,
  video {
    width: 100%;
    height: auto;
  }

  &__close {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $colorBg;
    border: 1px solid $colorBorder;
    opacity: 0;
    transition: 0.2s;

    @at-root body:hover & {
      opacity: 1;
    }

    &:hover {
      background-color: $colorBg2;
    }
  }

  &__close {
    top: $spacingHalf;
    right: $spacingHalf;
  }
}
