.page-listing {
  .PostItem {
    position: relative;
    padding-bottom: 100%;
    box-shadow: 0 0 0 1px #aaa;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
