@use "/src/scss/variables" as *;

.PostItem {
  padding: 0.5rem;
  box-shadow: 0 0 0 1px $colorBorder;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 0 1px $colorBorder2;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    width: 100%;
    height: 18rem;

    img {
      display: block;
      width: 100%;
      max-height: 100%;
      border-radius: 0.5rem;
      object-fit: contain;
    }
  }

  .postName {
    font-size: 0.8rem;
    text-align: center;
  }
}
