@use "/src/scss/variables" as *;

.Search {
  position: relative;
  max-width: 25rem;

  input {
    border: 1px solid $colorBorder;
    border-radius: 0.4rem;
    padding: 0 0.4rem;
    width: 100%;

    &:focus {
      background-color: $colorBg2;
      outline: none;
    }
  }
}
