@use "/src/scss/variables" as *;

.Search {
  input {
    border: 1px solid $colorBorder;
    border-radius: 0.4rem;
    padding: 0 0.4rem;

    &:focus {
      background-color: $colorBg2;
      outline: none;
    }
  }
}
