@use "/src/scss/variables" as *;
@use "/src/scss/mixins" as *;

.pagination {
  display: flex;
  gap: $spacingQuarter;
}

.link {
  color: $colorLink;

  &:hover {
    color: $colorContent;
  }

  &.linkCurrent {
    font-weight: 700;
    color: $colorContent;
  }
}

.linkDisabled {
  opacity: 0.5;
  pointer-events: none;
}

.ellipsis {
  @include subtleText();
}
