@use "/src/scss/variables" as *;
@use "/src/scss/mixins" as *;

.table {
  margin: $spacingHalf 0;
  border-collapse: collapse;

  th,
  td {
    padding: 0.1em 1rem;
    vertical-align: middle;
  }

  th {
    text-align: inherit;
    font-weight: inherit;
    background-color: $colorBg2;
  }

  td {
    border-bottom: 1px solid $colorBorder;
    font-family: "Fira Code", monospace;
    font-size: 0.75rem;

    a {
      color: $colorLink;

      &:hover {
        color: $colorContent;
      }
    }
  }
}

.textInput {
  @include inputBase(0 0.3rem);

  width: 100%;
  margin: 0 -0.3rem;
  font-size: $fontSizeMonoInput;
}

.actions {
  @include actionRow(0.35rem);

  width: max-content;
}

.button,
.deleteButton {
  @include buttonBase(
    $padding: 0.2rem 0.45rem,
    $borderColor: $colorBorder2,
  );

  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
}

.deleteButton {
  @include buttonDanger();
}

.error {
  color: $colorWarning;
  margin: 0;
}
