@use "/src/scss/variables" as *;
@use "/src/scss/mixins" as *;

.mediaPanelMeta {
  display: flex;
  flex-direction: column;
  gap: $spacingQuarter;
}

.score {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .navButton {
    width: 1.5rem;
    height: 1.5rem;

    @include buttonBase($padding: 0, $borderColor: $colorBorder);
  }

  @keyframes slideshowActive {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }

  .navButtonSlideshow {
    animation: infinite 1s slideshowActive;
  }
}

.edit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tagList {
  @include textareaBase();

  &.tagListDirty {
    border-color: $colorBorder2;
  }
}

.buttonList {
  @include actionRow();

  .saveNote {
    margin-left: auto;
    font-style: italic;

    @include subtleText();
  }
}

.fileSize {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.fileSizeLabel {
  @include subtleText();
}

.filename {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filenameLabel {
  @include subtleText();
}

.filenameInput {
  @include inputBase(0.2rem 0.5rem);

  width: 100%;
  font-family: $fontMono;
  font-size: $fontSizeMonoInput;

  &.filenameInputDirty {
    border-color: $colorBorder2;
  }
}

.filenameButtonList {
  @include actionRow();
}

.button {
  @include buttonBase($disabledOpacity: 0.5);

  &:disabled {
    background-color: $colorBg2;
  }
}

.deleteButton {
  @include buttonBase($disabledOpacity: 0.5);
  @include buttonDanger();

  &:disabled {
    background-color: $colorBg2;
  }
}

.actions {
  @include actionRow($spacingQuarter, false);

  .button,
  .deleteButton {
    width: 100%;
  }
}
