@use "/src/scss/variables" as *;

.MediaPanel {
  position: relative;
  min-height: 100%;
  background-color: $colorBg;
  display: flex;
  flex-direction: column;
  gap: $spacingQuarter;
  z-index: 22;
  padding: $spacingQuarter;

  &__close,
  &__burger {
    position: absolute;
    top: $spacingHalf;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $colorBg;
    border: 1px solid $colorBorder;
    opacity: 0;
    transition: 0.2s;

    @at-root body:hover & {
      opacity: 1;
    }

    &:hover {
      background-color: $colorBg2;
    }
  }

  &__close {
    right: $spacingHalf;
  }

  &__burger {
    right: calc($spacingHalf + 1.5rem + 0.5rem);
  }

  &__menu {
    position: absolute;
    top: calc($spacingHalf + 1.5rem + 0.5rem);
    right: $spacingHalf;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;
    background-color: $colorBg;
    border: 1px solid $colorBorder;
    opacity: 0;
    transition: 0.2s;

    @at-root body:hover & {
      opacity: 1;
    }

    label {
      input[type="checkbox"] {
        display: none;
      }

      .button {
        padding: 0.2rem $spacingQuarter;
        border: 1px solid $colorBorder;
        background-color: $colorBg2;

        &:hover {
          background-color: $colorBg2;
        }
      }

      input[type="checkbox"]:checked + .button {
        background-color: $colorContent;
        color: $colorBg;
      }
    }
  }
}
