@use "/src/scss/variables" as *;

.notes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .notesLabel {
    font-size: 0.8rem;
    color: $colorContent2;
  }

  .notesInput {
    display: block;
    width: 100%;
    resize: vertical;
    min-height: 10rem;
    height: 10rem;
    padding: 0.4rem 0.5rem;
    font-family: monospace;
    border: 1px solid $colorBorder;

    &.notesInputDirty {
      border-color: $colorBorder2;
    }

    &:focus {
      outline: none;
    }
  }

  .buttonList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.button {
  padding: 0.2rem $spacingQuarter;
  border: 1px solid $colorBorder;

  &:hover {
    background-color: $colorBg2;
  }

  &[disabled] {
    opacity: 0.5;
    background-color: $colorBg2;
    cursor: not-allowed;
  }
}
