@use "/src/scss/variables" as *;

.TagTable {
  margin: $spacingHalf 0;
  border-collapse: collapse;

  th,
  td {
    padding: 0.1em 1rem;
  }

  th {
    text-align: inherit;
    font-weight: inherit;
    background-color: $colorBg2;
  }

  td {
    border-bottom: 1px solid $colorBorder;
    font-family: "Fira Code", monospace;
    font-size: 0.75rem;

    a {
      color: $colorLink;

      &:hover {
        color: $colorContent;
      }
    }
  }
}
