@use "/src/scss/variables" as *;

.mediaPreview {
  border: 1px solid $colorBorder;
  border-radius: $radiusMd;
  overflow: hidden;
  flex: 0 0 auto;

  img,
  video,
  audio {
    width: 100%;
    height: auto;
  }
}

.textPreview {
  width: 100%;
  max-height: 26rem;
  overflow: auto;
  white-space: pre-wrap;
  padding: $spacingHalf;
  font-family: monospace;
  font-size: 0.9rem;
}
