@use "/src/scss/variables" as *;

.mediaPreview {
  border: 1px solid $colorBorder;
  border-radius: $radiusMd;
  overflow: hidden;
  flex: 0 0 auto;

  img,
  video,
  audio {
    width: 100%;
    height: auto;
  }
}
