@use "/src/scss/variables" as *;

.nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  padding: 0 $spacingQuarter;

  .navLink {
    padding: $spacingQuarter;
    color: $colorLink;

    &:hover {
      color: $colorContent;
    }
  }
}
