@use "/src/scss/variables" as *;
@use "/src/scss/mixins" as *;

.tagSuggestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 20;
  background: $colorBg2;
  border: 1px solid $colorBorder;
  overflow: hidden;
}

.suggestionMeta {
  @include subtleText();

  opacity: 0.7;
  padding: 0 $controlPaddingX;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  gap: $spacingQuarter;
  padding: 0 $controlPaddingX;
  cursor: pointer;
}

.active {
  background: $colorBg;
}

.tagName {
  font-weight: 500;
}

.tagMeta {
  @include subtleText(12px);

  opacity: 0.7;
  white-space: nowrap;
}
