@use "/src/scss/variables" as *;

.UploadForm {
  .content {
    padding-bottom: 0;
  }

  .contentWide {
    padding-top: 0;
  }

  .dropzone {
    text-align: center;
    font-style: italic;
    padding: $spacing;
    border: 2px dashed $colorBorder;
    border-radius: $spacingQuarter;
    cursor: pointer;
    transition: 0.2s;

    &.dropzoneDragging {
      background-color: $colorBg2;
    }

    &:hover {
      background-color: $colorBg2;
    }
  }
}
